<p>show-projects works!</p>
<div class="chapter">
    <h2>Projects List</h2>    
    <table class="table table-hover mx-2">
        <thead>           
            <th scope="col">Name</th>            
            <th scope="col">Client</th> 
            <th scope="col">Created at</th>                       
            <th scope="col">Update</th>                       
        </thead>
        <tbody>
            <tr scope="row" *ngFor="let proj of projectList; let i = index">
                <td>{{proj.name}}</td>                
                <td>{{proj.client}}</td>
                <td>{{proj.createdAt | date : "dd MM yyyy"}}</td>                            
                <td><a [routerLink]="['/Project/update/', proj.id]" class="btn btn-outline-warning">Edit</a></td>                            
            </tr>
        </tbody>
    </table>
</div>

