<form>
    <div class="form-group visual">
        <h3 class="mb-4">Add Visuals</h3>
        <h5>Images & Photos</h5>
        <div class="mb-3">
            <label for="formFile7" class="form-label">Originals images (from Client)</label>
            <input class="form-control" type="file" id="formFile1" formControlName="imgClient">
        </div>
        <div class="mb-3">
            <label for="formFile8" class="form-label">Client Ideas</label>
            <input class="form-control" type="file" id="formFile8" formControlName="imgClientIdeas">
        </div>
        <div class="mb-3">
            <label for="formFile9" class="form-label">Photos</label>
            <input class="form-control" type="file" id="formFile9" formControlName="imgPhotos">
        </div>
        <div class="mb-4">
            <label for="formFile10" class="form-label">Inspiration</label>
            <input class="form-control" type="file" id="formFile10" formControlName="imgInspiration">
        </div>
        <h5>Plans</h5>
        <div class="mb-3">
            <label for="formFile11" class="form-label">Originals plans (from Client)</label>
            <input class="form-control" type="file" id="formFile11" formControlName="plansOriginals">
        </div>
        <div class="mb-3">
            <label for="formFile12" class="form-label">Autocad</label>
            <input class="form-control" type="file" id="formFile12" formControlName="plansAutoCad">
        </div>
        <div class="mb-3">
            <label for="formFile13" class="form-label">Rhino</label>
            <input class="form-control" type="file" id="formFile13" formControlName="plansRhino">
        </div>
        <div class="mb-3">
            <label for="formFile14" class="form-label">PDF</label>
            <input class="form-control" type="file" id="formFile14" formControlName="plansPDF">
        </div>
    </div>
    
</form>
