<p>project-update works!</p>
<div class="mb-3">
    <h1 class="proj-name">{{pname}} Project Name (dinamique...)</h1>
</div>
<div class="chapter">    
    <div class="btns mb-3">
        <div class="big">
            <button type="button" class="btn btn-info btn-lg">
                <a class="link" routerLink="/Project/add">Info</a>
            </button>
        </div>
        <div class="big">
            <button type="button" class="btn btn-info btn-lg">Documents</button>
        </div>
        <div class="big">
            <button type="button" class="btn btn-info btn-lg">Visuals</button>
        </div>
        <div class="big">
            <button type="button" class="btn btn-success btn-lg">
                <a class="link" routerLink="./Project/log">Log</a></button>
        </div>
        <div class="big">
            <button type="button" class="btn btn-warning btn-lg">Dossier d'Autorisation</button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
