h1{
    text-align: center;
    margin-bottom: 50px;    
}
.chapter{
    margin: 0 16px;   
}
.btns{
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    margin: 0 1%; 
    /* background-color: aquamarine; */
}
.big{
    margin: 1% 2%;    
}
.btn-info{
    border-radius: 10px;
}
a:link, a:visited {
    color: white;
}
a:hover {
    color: rgb(212, 205, 205);
}
/* a:active {
    color: gray;
  } */
