<p>documents works!</p>
<div class="form-group docs">
    <h3 class="mb-4">Add Documents</h3>
    <div class="mb-3">
        <label for="formFile1" class="form-label">Reglements</label>
        <input class="form-control" type="file" id="formFile1" formControlName="reglements">
    </div>
    <div class="mb-3">
        <label for="formFile2" class="form-label">Cadastre</label>
        <input class="form-control" type="file" id="formFile2" formControlName="cadastre">
    </div>
    <div class="mb-3">
        <label for="formFile3" class="form-label">Collaborators</label>
        <input class="form-control" type="file" id="formFile3" formControlName="collaborators">
    </div>
    <div class="mb-3">
        <label for="formFile4" class="form-label">Contextual</label>
        <input class="form-control" type="file" id="formFile4" formControlName="contextDocs">
    </div>
    <div class="mb-3">
        <label for="formFile5" class="form-label">Notes</label>
        <input class="form-control" type="file" id="formFile5" formControlName="logNotes">
    </div>
    <div class="mb-3">
        <label for="formFile6" class="form-label">Dossier d'Autorisation</label>
        <input class="form-control" type="file" id="formFile6" formControlName="autorisationDossier">
    </div>            
</div>
