<div class="chapter">
    <h1 class="title text-center my-4">ArchiGestion</h1>
    <form>
        <div class="d-flex justify-content-center my-5">
            <button type="submit" class="btn btn-lg btn-primary mt-4" data-bs-toggle="modal" data-bs-target="#userModal" >Log In</button> 
        </div>        
    </form>
</div>


<!-- <div class="d-flex justify-content-center mb-3">
    <button type="submit" class="btn btn-lg btn-success mt-4" >Log In</button> 
</div>   -->

<div class="modal fade" id="userModal" tabindex="-1">
    <app-login></app-login>
</div>