<p>user-add works!</p>
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Register</h4>
            <button type="button" class="close btn btn-secondary" data-bs-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">                    
            <form [formGroup]="addUserForm" (ngSubmit)=" addnewUser()">
                <div class="form-group">
                    <div class="mb-3">
                        <label for="uname" class="form-label">Name</label>
                        <input type="text" class="form-control" id="uname" formControlName="unom">
                    </div>
                    <div class="mb-3">
                        <label for="ufname" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="ufname" formControlName="uprenom">
                    </div>
                    <div class="mb-3">
                        <label for="uemail" class="form-label">Email</label>
                        <input type="text" class="form-control" id="uemail" formControlName="uemail">
                    </div>
                    <div class="mb-3">
                        <label for="upassw" class="form-label">Password</label>
                        <input type="password" class="form-control" id="upassw" formControlName="upassword">
                    </div>                    
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>                    
        </div>
       
    </div>
</div>




