<p>log works!</p>
<h2 class="text-center mb-4">To do..</h2>
<div class="chapter">
    <div class="d-flex justify-content-evenly mb-4">        
        <button class="btn btn-success" (click)="toggleForm()">Add new To do</button>
        <button class="btn btn-outline-success" (click)="toggleForm()">Print List</button>
    </div>            
        
    <div *ngIf="displayForm">
        <form [formGroup]="addnewLogForm" (ngSubmit)="addNewLog()">
            <div class="form-group mb-3">
                <div class="input-group mb-3">
                    <input type="date" class="form-control" placeholder="Date" formControlName="logDate">            
                    <input type="text" class="form-control" placeholder="To do" formControlName="logTxt">
                    <button type="submit" class="btn btn-success">Add to List</button>
                  </div>
            </div>
        </form>
    </div> 

    <table class="table table-hover mx-2">
        <thead>
            <th scope="col">Date</th>
            <th scope="col">To Do</th>            
            <th scope="col">Actions</th>            
        </thead>
        <tbody>
            <tr scope="row" *ngFor="let l of logList; let i = index">
                <td>{{l.logDate | date : "dd MM yyyy"}}</td>
                <td>{{l.logTxt}}</td>
                <td><button class="btn btn-outline-info" type="button" (click)="updateLog()">Update</button></td>
                <td><button class="btn btn-outline-danger" type="button" (click)="deleteLog()">Delete</button></td>                
            </tr>
        </tbody>
    </table>
</div>




