<p>log works!</p>

<div class="chapter">
    <a class="btn btn-primary" routerLink="/demo/demo7add">Add new entry</a>
    <table class="table table-hover">
        <thead>
            <th scope="col">Date</th>
            <th scope="col">To Do</th>            
        </thead>
        <tbody>
            <!-- <tr scope="row" *ngFor="let entry of entries; let i = index">
                <td>{{user.lastname}}</td>
                <td>{{user.firstname}}</td>
                <td>{{user.birthdate | date : "dd MM yyyy"}}</td>
                <td>{{user.email}}</td>
                <td><a class="btn btn-primary" routerLink="/demo/demo7/{{i}}">Details</a></td>
            </tr> -->
        </tbody>
    </table>
</div>

