<p>log works!</p>
<h3 class="text-center mb-4">To do..</h3>
<div class="chapter">
    <div class="d-flex justify-content-evenly mb-4">
        <a class="btn btn-success" routerLink="../log/newlog">Add new To do</a>
    </div>
    
    <table class="table table-hover mx-2">
        <thead>
            <th scope="col">Date</th>
            <th scope="col">To Do</th>            
            <th scope="col">Actions</th>            
        </thead>
        <tbody>
            <tr scope="row" *ngFor="let l of logList; let i = index">
                <!-- <td>{{logList.logDate | date : "dd MM yyyy"}}</td>
                <td>{{logList.logTxt}}</td>                
                <td>{{Update}}</td> -->
                <!-- <td>{{Delete}}</td> //<td><a class="btn btn-danger" routerLink="/demo/demo7/{{i}}">Details</a></td> -->
                <!-- <td><a class="btn btn-primary" routerLink="/demo/demo7/{{i}}">Details</a></td> -->
            </tr>
        </tbody>
    </table>
</div>

